html
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

div
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  float: left;
}

#people
{
  width: 10%;
  height: 100%;
  background: red;
}

#chart
{
  width: 90%;
  height: 100%;
}

svg
{
/*   opacity: 0.75; */
}

.node
{
  stroke: none;
  stroke-width: 0.3px;
  cursor: pointer;
  fill: #ccc;
}

.foo
{
  stroke: red;
  stroke-width: 5px;
}

.open.branch
{
  fill: lightgrey;
}

.closed.branch
{
  fill: red;
}

.leaf
{
  fill: lightgrey;
}

.title
{
  font: 10px sans-serif;
  fill: #444;
}

.child_count
{
  font: 12px sans-serif;
  fill: #222;
}

.add_button
{
  font: 24px sans-serif;
  font-weight: bold;
  fill: #666;
}

.delete_button
{
  font: 24px sans-serif;
  font-weight: bold;
  fill: #666;
}

.add_button:hover
{
  fill: red;
}

.delete_button:hover
{
  fill: red;
}

path.link
{
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

